# Ignore Python virtual environment
venv/
.env/
*.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore VS Code settings
.vscode/

# Ignore local data
data/*.txt
data/*.json

# Ignore environment & API keys
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db
